<div class="list-wrap">
    <p>People:</p>
    <div class="well">
        <div class="control-group">
            <label for="personFilter" class="input-label">Filter People:</label>
            <input type="text" name="personFilter" id="personFilter" class="form-control" value="" placeholder="Type something..." v-model="personFilter" />
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Profession</th>
                </tr>
            </thead>
            <tbody>
                <!-- :key="person.profession" -->
                <tr v-for="(person, index) in filterPeople">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{person.fname}}</td>
                    <td>{{person.lname}}</td>
                    <td>{{person.profession}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
