<!DOCTYPE html>
<html>
    <head>
        {{> htmlhead}}
    </head>
    <body class="">
        <div id="vue-app"></div>
        <script type="text/javascript" src="{{ assetPath "scripts/app.min.js" }}"></script>
    </body>
</html>
